In [ ]:
# COPA DEL MUNDO

In [ ]:
# ARCHIVO: world_cups

In [1]:
import pandas as pd
df= pd.read_csv('C:\MARTINEZ MARCELO\CURSOS\CURSO DE DATA SCIENCE\DATASETS\COPA DEL MUNDO\world_cups.csv', sep=',', header=0)
df

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70.0,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84.0,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88.0,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140.0,16,26
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126.0,16,35
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89.0,16,32
7,1966,England,England,Germany FR,Portugal,Soviet Union,89.0,16,32
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95.0,16,32
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97.0,16,38
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102.0,16,38
11,1982,Spain,Italy,Germany FR,Poland,France,146.0,24,52
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132.0,24,52
13,1990,Italy,Germany FR,Argentina,Italy,England,115.0,24,52
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141.0,24,52
15,1998,France,France,Brazil,Croatia,Netherlands,171.0,32,64
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161.0,32,64
17,2006,Germany,Italy,France,Germany,Portugal,147.0,32,64
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145.0,32,64
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171.0,32,64
20,2018,Russia,France,Croatia,Belgium,England,169.0,32,64
21,2022,Qatar,NaN,NaN,NaN,NaN,NaN,32,64

In [ ]:
# ARCHIVO: world_cup_matches

In [2]:
import pandas as pd
df= pd.read_csv('C:\MARTINEZ MARCELO\CURSOS\CURSO DE DATA SCIENCE\DATASETS\COPA DEL MUNDO\world_cup_matches.csv', sep=',', header=0)
df

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False
...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [ ]:
# ARCHIVO: international_matches

In [3]:
import pandas as pd
df= pd.read_csv('C:\MARTINEZ MARCELO\CURSOS\CURSO DE DATA SCIENCE\DATASETS\COPA DEL MUNDO\international_matches.csv', sep=',', header=0)
df

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,NaN,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,NaN,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,NaN,True
...,...,...,...,...,...,...,...,...,...
17764,17765,Friendly,2022-09-27,Qatar,2,2,Chile,NaN,False
17765,17766,Friendly,2022-09-27,Saudi Arabia,0,0,United States,NaN,False
17766,17767,UEFA Nations League,2022-09-27,Portugal,0,1,Spain,NaN,True
17767,17768,UEFA Nations League,2022-09-27,Switzerland,2,1,Czech Republic,NaN,True
17768,17769,UEFA Nations League,2022-09-27,Norway,0,2,Serbia,NaN,True

In [ ]:
# ARCHIVO: _2022_world_cup_squads

In [6]:
import pandas as pd
df= pd.read_csv('C:\MARTINEZ MARCELO\CURSOS\CURSO DE DATA SCIENCE\DATASETS\COPA DEL MUNDO\_2022_world_cup_squads.csv', sep=',', header=0, encoding='latin-1')
df

,ID,Team,Position,Player,Age,Caps,Goals,WC Goals,League,Club
0,1,Ecuador,Goalkeeper,Hernán Galíndez,35,12,0,0,Ecuador,Aucas
1,2,Ecuador,Defender,Félix Torres,25,17,2,0,Mexico,Santos Laguna
2,3,Ecuador,Defender,Piero Hincapié,20,21,1,0,Germany,Bayer Leverkusen
3,4,Ecuador,Defender,Robert Arboleda,31,33,2,0,Brazil,São Paulo
4,5,Ecuador,Midfielder,José Cifuentes,23,11,0,0,United States,Los Angeles FC
...,...,...,...,...,...,...,...,...,...,...
826,827,Uruguay,Defender,Martín Cáceres,35,115,4,0,United States,LA Galaxy
827,828,Uruguay,Goalkeeper,Sergio Rochet,29,8,0,0,Uruguay,Nacional
828,829,Uruguay,Midfielder,Agustín Canobbio,24,3,0,0,Brazil,Athletico Paranaense
829,830,Uruguay,Midfielder,Manuel Ugarte,21,6,0,0,Portugal,Sporting CP
830,831,Uruguay,Defender,José Luis Rodríguez,25,0,0,0,Uruguay,Nacional

In [ ]:
# ARCHIVO: _2022_world_cup_matches

In [7]:
import pandas as pd
df= pd.read_csv('C:\MARTINEZ MARCELO\CURSOS\CURSO DE DATA SCIENCE\DATASETS\COPA DEL MUNDO\_2022_world_cup_matches.csv', sep=',', header=0)
df

    ID  Year        Date           Stage      Home Team    Away Team Host Team
0    1  2022  2022-11-20     Group stage          Qatar      Ecuador      True
1    2  2022  2022-11-21     Group stage        Senegal  Netherlands     False
2    3  2022  2022-11-21     Group stage        England         Iran     False
3    4  2022  2022-11-21     Group stage  United States        Wales     False
4    5  2022  2022-11-22     Group stage         France    Australia     False
..  ..   ...         ...             ...            ...          ...       ...
59  60  2022  2022-12-10  Quarter-finals            W55          W56       NaN
60  61  2022  2022-12-13     Semi-finals            W57          W58       NaN
61  62  2022  2022-12-14     Semi-finals            W59          W60       NaN
62  63  2022  2022-12-17     Third place            L61          L62       NaN
63  64  2022  2022-12-18           Final            W61          W62       NaN

[64 rows x 7 columns]

In [ ]:
# ARCHIVO: _2022_world_cup_groups

In [8]:
import pandas as pd
df= pd.read_csv('C:\MARTINEZ MARCELO\CURSOS\CURSO DE DATA SCIENCE\DATASETS\COPA DEL MUNDO\_2022_world_cup_groups.csv', sep=',', header=0)
df

   Group           Team  FIFA Ranking
0      A          Qatar            50
1      A        Ecuador            44
2      A        Senegal            18
3      A    Netherlands             8
4      B        England             5
5      B           Iran            20
6      B  United States            16
7      B          Wales            19
8      C      Argentina             3
9      C   Saudi Arabia            51
10     C         Mexico            13
11     C         Poland            26
12     D         France             4
13     D      Australia            38
14     D        Denmark            10
15     D        Tunisia            30
16     E          Spain             7
17     E     Costa Rica            31
18     E        Germany            11
19     E          Japan            24
20     F        Belgium             2
21     F         Canada            41
22     F        Morocco            22
23     F        Croatia            12
24     G         Brazil             1
25     G         Serbia            21
26     G    Switzerland            15
27     G       Cameroon            43
28     H       Portugal             9
29     H          Ghana            61
30     H        Uruguay            14
31     H    South Korea            28